table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0px;
  text-align: left;
}

thead tr {
  background-color: #515151;
  border-bottom: 1px solid #cac3c3;
}

thead th {
  padding: 12px;
  font-weight: bold;
}

tbody tr {
  border-bottom: 1px solid #cac3c3;
}

tbody tr:hover {
  background-color: #6d6d6d;
  cursor: pointer;
}

td,
th {
  padding: 10px;
}
